[submodule "files/nvim"]
	path = files/nvim
	url = git@github.com:ge3224/nvimconf.git
[submodule "files/cheatsheets"]
	path = files/cheatsheets
	url = git@github.com:ge3224/cheatsheets.git
[submodule "aur/cheat-bin"]
	path = aur/cheat-bin
	url = https://aur.archlinux.org/cheat-bin.git
[submodule "aur/claude-code"]
	path = aur/claude-code
	url = https://aur.archlinux.org/claude-code.git
[submodule "aur/google-chrome"]
	path = aur/google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "aur/rustdesk-bin"]
	path = aur/rustdesk-bin
	url = https://aur.archlinux.org/rustdesk-bin.git
[submodule "aur/zen-browser-bin"]
	path = aur/zen-browser-bin
	url = https://aur.archlinux.org/zen-browser-bin.git
[submodule "tools/maur"]
	path = tools/maur
	url = https://codeberg.org/inthejar/maur.git
