[submodule "files/nvim"]
	path = files/nvim
	url = git@github.com:ge3224/nvimconf.git
[submodule "files/cheatsheets"]
	path = files/cheatsheets
	url = git@github.com:ge3224/cheatsheets.git
[submodule "tools/maur"]
	path = tools/maur
	url = https://codeberg.org/inthejar/maur.git
